html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #030712; /* Fallback color */
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); /* For Safari */
    background: -moz-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); /* For older Firefox */
}


content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    background-image: url('error.png');
    background-repeat: no-repeat;
    background-position: right;
}

content h2 {
    font-family: 'Courier New', Courier, monospace;
    cursor: move;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}

content > div {
    border: 0px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 33%;
    background-color: #FBEFEF;
}

content > div > ul > li {
    margin-bottom: 0.3rem;
}

content > div > ul > li a {
    text-decoration: none;
}

content > div > ul > li a:hover {
text-decoration: underline;
}

.ghost {
    opacity: 0.5;
}

header {
    background: #000;
    margin-top: 0px;
    margin-bottom: 1rem;
}

header h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    text-transform: lowercase;
}

footer {
    text-align: right;
    padding: 2rem;
    color: #fff
}

@media (max-width: 1024px) {

    content {
        background-image: none;
    }
    content > div {
        width: 100%;
    }
}

@media (max-width: 768px) {
    content {
        flex-direction: column;
        align-items: flex-start
    }

    content > div {
        width: 90%;
    }

    footer {
        text-align: center;
    }
}
